				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
								<ul class="contact">
                <li class="fa-envelope"> kai (at) kmd.keio.ac.jp </li>
								<li class="fa-twitter"><a href="#">twitter.com/k_garten</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Kai Kunze, All rights reserved.</li>
							</ul>
						</div>
					</section>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>


