---
layout: default
---
<div id="page-wrapper">

			<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Open Eyewear</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/index.html">Home</a></li>
								<li><a href="/publications.html">Publications</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>


<!-- Banner -->
<section id="wrapper">
<header>
 <div class="inner">
			<h2>{{ page.title | escape }}</h2>
      <p>{{ page.tagline | escape }}</p>
    </div>
</header>

<!-- Content -->
<div class="wrapper">
  <div class="inner">
    <div class="12u$"><span class="image fit">
    {{ content }} 
    </span></div>
               
</div>
</div>
</section>

</div>


